@charset "UTF-8";
#todo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  box-sizing: border-box;
}

.header {
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vh;
  grid-template-areas: "menu logo logo lupa";
  grid-column-gap: 30px;
  align-items: center;
  background-color: #F2F2F2;
  border-bottom: solid 4px #2EFE64;
}
.header__menu {
  width: 80%;
  height: 80%;
  grid-area: menu;
}
.header__menu-imagen {
  width: 100%;
  height: 100%;
}
.header__logo {
  width: 100%;
  height: 90%;
  grid-area: logo;
}
.header__logo-imagen {
  width: 100%;
  height: 100%;
}
.header__nav {
  display: none;
}
.header__buscador {
  display: none;
  width: 100%;
  height: 30%;
}
.header__buscador-input {
  border: solid 1px #000000;
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.header__buscador-input::-moz-placeholder {
  text-align: center;
}
.header__buscador-input:-ms-input-placeholder {
  text-align: center;
}
.header__buscador-input::placeholder {
  text-align: center;
}
.header__buscador-input:hover {
  background-color: #2EFE64;
}
.header__lupa {
  width: 50%;
  height: 50%;
  grid-area: lupa;
}
.header__lupa-imagen {
  width: 100%;
  height: 100%;
}
.header__lupa:nth-child(5) {
  justify-self: center;
}

.section {
  height: 80vh;
  width: 100%;
}
.section__contenedor {
  width: 100%;
  height: 55%;
}
.section__contenedor-imagen {
  width: 100%;
  height: 100%;
}
.section__texto {
  width: 100%;
  height: 45%;
  padding: 10px 5px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}
.section__texto-imagen {
  width: 70%;
  height: 20%;
}
.section__texto-enlace {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #000000;
  background-color: #2EFE64;
  border-radius: 20px;
  padding: 10px 10px;
}

.section-dos {
  height: 300vh;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  background-color: #000000;
}
.section-dos__contenedor {
  width: 100%;
  height: 30%;
}
.section-dos__contenedor-imagen {
  width: 100%;
  height: 100%;
}
.section-dos__contenedor-texto {
  text-align: center;
  position: relative;
  bottom: 100px;
  color: #2EFE64;
  width: 100%;
  height: 15%;
}

.section-tres {
  width: 100%;
  height: 40vh;
}
.section-tres__titulo {
  text-align: center;
}
.section-tres__contenedor {
  height: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}
.section-tres__contenedor-link {
  display: inline-block;
  text-decoration: none;
  width: 20%;
  height: 70%;
}
.section-tres__contenedor-link-imagen {
  margin-left: 8px;
  width: 80%;
  height: 100%;
}
.section-tres__contenedor-link:hover {
  background-color: #2EFE64;
  border-radius: 10px;
}

.section-cuatro {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 65vh);
  gap: 20px;
}
.section-cuatro__juegos {
  width: 100%;
}
.section-cuatro__juegos-texto {
  height: 20%;
}
.section-cuatro__juegos-imagen {
  width: 100%;
  height: 80%;
}

.section-cinco {
  width: 100%;
  height: 160vh;
  background-color: #000000;
  color: #ffffff;
}
.section-cinco__titulo {
  text-align: center;
}
.section-cinco__juegos {
  height: 95%;
  width: 100%;
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: repeat(4, 1fr);
  justify-content: space-evenly;
  gap: 5px;
}
.section-cinco__juegos-contenedor {
  width: 100%;
  height: 100%;
}
.section-cinco__juegos-contenedor-imagen {
  height: 80%;
  width: 100%;
  border-radius: 10px;
}

.footer {
  margin-top: 50px;
  background-color: #F2F2F2;
  width: 100%;
  height: 120vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr) 5vh;
  align-items: center;
  border-top: solid 4px #2EFE64;
}
.footer__redes-titulo {
  text-align: center;
  margin-bottom: 10px;
}
.footer__redes-apps {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.footer__redes-apps-link {
  width: 20%;
  text-decoration: none;
}
.footer__redes-apps-link-imagen {
  width: 100%;
}
.footer__nosotros {
  width: 100%;
  text-align: center;
  padding: 0px 5px;
}
.footer__contactos {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.footer__contactos-contenedor {
  width: 30%;
}
.footer__contactos-contenedor-imagen {
  width: 80%;
  height: 60%;
  padding-left: 10px;
}
.footer__contactos-contenedor-parrafo {
  padding-left: 15px;
}
.footer__mapa {
  width: 80%;
  margin: 0 auto;
}
.footer__mapa .footer__iframe {
  width: 100%;
  height: 100%;
}
.footer__titulo {
  text-align: center;
}

.contenedor {
  height: 50vh;
  width: 100%;
}
.contenedor__imagen {
  width: 100%;
  height: 80%;
}
.contenedor__titulo {
  text-align: center;
  display: inline-block;
  width: 30%;
  height: 5vh;
  background-color: #2EFE64;
  border-radius: 20px;
  position: relative;
  bottom: 100px;
  left: 240px;
}

.contenedor-formulario {
  width: 80%;
  height: 70vh;
  margin: 0 auto;
}
.contenedor-formulario__titulo {
  text-align: center;
}
.contenedor-formulario__form-texto {
  width: 100%;
  margin: 5px 0px;
}
.contenedor-formulario__form-texto-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #2EFE64;
}
.contenedor-formulario__form-radio {
  margin: 5px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.contenedor-formulario__form-radio-consola {
  display: inline-block;
}
.contenedor-formulario__form-lista {
  margin: 5px 0px;
}
.contenedor-formulario__form-textarea {
  margin: 10px 0px;
}
.contenedor-formulario__form-textarea-campo {
  width: 100%;
}
.contenedor-formulario__form-boton {
  display: block;
  width: 80%;
  margin: 0 auto;
  background-color: #2EFE64;
  border-radius: 20px;
  padding: 10px 5px;
  border: none;
}

.contenedor-categorias {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: repeat(2, 30vh);
  width: 100%;
  height: 70vh;
  gap: 10px;
}
.contenedor-categorias__juegos {
  width: 100%;
  height: 100%;
}
.contenedor-categorias__juegos-imagen {
  width: 100%;
  height: 70%;
}
.contenedor-categorias .contenedor-categorias__juegos--azul {
  background-color: blue;
}
.contenedor-categorias .contenedor-categorias__juegos--rojo {
  background-color: red;
}
.contenedor-categorias .contenedor-categorias__juegos--verde {
  background-color: green;
}
.contenedor-categorias .contenedor-categorias__juegos--amarillo {
  background-color: yellow;
}

.section-play {
  width: 90%;
  height: 250vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(4, 60vh);
  grid-row-gap: 10px;
}
.section-play__juego {
  width: 100%;
  height: 100%;
  background-color: #0000FF;
}
.section-play__juego-imagen {
  width: 100%;
  height: 80%;
}
.section-play__juego-texto {
  width: 100%;
  height: 20%;
}

.contenedor-varios {
  width: 100%;
  height: 130vh;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(4, 30vh);
  justify-content: space-evenly;
}
.contenedor-varios__juego-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.contenedor-varios__juego-link-imagen {
  width: 100%;
  height: 80%;
  border-radius: 5px;
}

.contenedor-xbox {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
}
.contenedor-xbox__juegos {
  width: 100%;
  height: 40vh;
}
.contenedor-xbox__juegos-imagen {
  width: 100%;
  height: 80%;
}

@media screen and (min-width: 1200px) {
  .header {
    grid-template-columns: repeat(11, 1fr);
    grid-template-areas: "logo logo . . . . navegador navegador navegador buscador lupa";
    grid-column-gap: 0px;
  }
  .header__menu {
    display: none;
  }
  .header__logo {
    width: 70%;
    height: 70%;
  }
  .header__nav {
    display: block;
    grid-area: navegador;
  }
  .header__nav-lista {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .header__nav-lista-items {
    display: inline;
  }
  .header__nav-lista-items-links {
    text-decoration: none;
    color: #000000;
  }
  .header__buscador {
    display: block;
    grid-area: buscador;
  }
  .header__lupa-imagen {
    width: 50%;
    height: 70%;
  }

  .section {
    height: 110vh;
    background-image: url(../img/portadas/elden-ring-.png);
    background-size: cover;
    background-position: center;
  }
  .section__contenedor {
    display: none;
  }
  .section__texto {
    width: 30%;
    height: 40%;
    position: relative;
    top: 50%;
    left: 5%;
    background-color: transparent;
  }

  .section-dos {
    height: 115vh;
    flex-flow: row wrap;
    align-content: center;
  }
  .section-dos__contenedor {
    width: 30%;
    height: 90%;
  }

  .section-tres__contenedor {
    width: 70%;
    margin: 0 auto;
  }
  .section-tres__contenedor-link {
    width: 15%;
  }
  .section-tres__contenedor-link-imagen {
    margin-left: 15px;
  }

  .section-cuatro {
    grid-template-columns: 70% 25%;
    grid-template-rows: repeat(2, 100vh);
    justify-content: center;
  }
  .section-cuatro__juegos--tamaño {
    grid-column: 1/3;
  }

  .section-cinco {
    height: 120vh;
  }
  .section-cinco__juegos {
    height: 90%;
    margin-top: 35px;
    grid-template-columns: repeat(4, 15%);
    grid-template-rows: repeat(2, 50%);
    align-content: center;
  }

  .footer {
    height: 90vh;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 45% 45% 2%;
    justify-content: center;
    gap: 10px;
  }
  .footer__mapa {
    height: 100%;
    width: 60%;
  }
  .footer__titulo {
    grid-column: 1/3;
  }

  .contenedor {
    width: 100%;
    height: 80vh;
    background-image: url(../img/portadas/avants.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
  }
  .contenedor__imagen {
    display: none;
  }
  .contenedor__titulo {
    position: relative;
    top: 200px;
    left: 900px;
  }

  .contenedor::before {
    content: "";
    width: 100%;
    height: 80vh;
    background: linear-gradient(#2EFE64, #2EFE64);
    position: absolute;
    opacity: 0.3;
  }

  .contenedor-formulario {
    width: 30%;
  }

  .section-play {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 65vh);
    grid-template-areas: "uno dos" "uno tres" "cuatro tres";
    grid-column-gap: 10px;
  }
  .section-play__juego-imagen--tamanio {
    display: block;
    position: relative;
    left: 30%;
    width: 70%;
    height: 100%;
  }
  .section-play__juego-texto--display {
    position: relative;
    bottom: 100%;
    width: 30%;
    height: 100%;
  }
  .section-play__juego--gridUno {
    grid-area: uno;
  }
  .section-play__juego--gridDos {
    grid-area: dos;
  }
  .section-play__juego--gridTres {
    grid-area: tres;
  }
  .section-play__juego--gridCuatro {
    grid-area: cuatro;
  }
}/*# sourceMappingURL=main.css.map */