//Index
@mixin medidasIguales($columnas,$filas,$ancho,$alto) {
    display:grid;
    grid-template-columns: repeat($columnas,$ancho) ;
    grid-template-rows: repeat($filas,$alto);
}
@mixin size($ancho,$alto) {
    width:$ancho;
    height:$alto;
}
#todo{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
}
@import "index/cabecera"; 
@import "index/seccionUno";
@import "index/seccionDos";
@import "index/seccionTres";
@import "index/seccionCuatro";
@import "index/seccionCinco";
@import "index/pieDePagina";

//Contactos
@import "contactos/contenedorUno";

//juegos
@import "juegos/sectionPlayStation";

//ofertas




@media screen and (min-width: 1200px){
    .header{
        grid-template-columns: repeat(11,1fr);
        grid-template-areas: 
        "logo logo . . . . navegador navegador navegador buscador lupa"
        ;
        grid-column-gap: 0px;
        &__menu{
            display: none; 
        }
        &__logo{
            width:70%;
            height:70%;
        }
        &__nav{
            display: block;
            grid-area: navegador;
            &-lista{
                list-style-type: none;
                display: flex;
                flex-flow: row wrap;
                justify-content:space-evenly;
                &-items{
                    display: inline;
                    &-links{
                        text-decoration: none;
                        color:#000000;
                    }
                }
           }
        }
        &__buscador{
            display: block;
            grid-area: buscador;
        }
        &__lupa{
            &-imagen{
                width: 50%;
                height: 70%;
            }
        }
    }

    .section{
        height: 110vh;
        background-image: url(../img/portadas/elden-ring-.png);
        background-size: cover;
        background-position: center;
        &__contenedor{
            display: none;
        }
        &__texto{
            width: 30%;
            height: 40%;
            position: relative;
            top:50%;
            left: 5%;
            background-color: transparent;
        }
    }
    .section-dos{
        height:115vh;
        flex-flow: row wrap;
        align-content: center;
        &__contenedor{
            width: 30%;
            height: 90%;
        }
    }
   .section-tres{
        &__contenedor{
            width:70%;
            margin: 0 auto;
            &-link{
                width:15%;
                &-imagen{
                    margin-left: 15px;
                }
            }
        }
   }
   .section-cuatro{
    grid-template-columns: 70% 25%;
    grid-template-rows: repeat(2,100vh);
    justify-content: center;
    &__juegos--tamaño{
        grid-column: 1/3;
    }
   }
   .section-cinco{
      height:120vh;
       &__juegos{
           height:90%;
           margin-top: 35px;
           grid-template-columns: repeat(4,15%);
           grid-template-rows: repeat(2,50%);
           align-content: center
       }
   }
   .footer{
      height:90vh;
      grid-template-columns:repeat(2,40%);
      grid-template-rows: 45% 45% 2%;
      justify-content:center;
      gap:10px;
      &__mapa{
        height:100%;
        width:60%;
      }
      &__titulo{
         grid-column: 1/3;
      }
   }
   .contenedor{
    width:100%;
    height:80vh;
    background-image: url(../img/portadas/avants.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
        &__imagen{
            display:none;
        }
        &__titulo{
            position: relative;
            top:200px;
            left:900px;
        }
    }
    .contenedor::before{
        content: "";
        width:100%;
        height:80vh;
        background:linear-gradient($verdeBonito,$verdeBonito);
        position: absolute;
        opacity: 0.3;
    }
   .contenedor-formulario{
        width:30%;
   }
   //juegos
   .section-play{
        @include medidasIguales(2,3,50%,65vh);
        grid-template-areas:
        "uno dos"
        "uno tres"
        "cuatro tres"
        ;
        grid-column-gap: 10px;
        &__juego{
           
            &-imagen--tamanio{
                display: block;
                position: relative;
                left: 30%;
                @include size(70%,100%);
                
            }
            &-texto--display{
                 position:relative;
                 bottom:100%;
                 @include size(30%,100%);
            } 
        }
        &__juego--gridUno{
            grid-area: uno;
        }
        &__juego--gridDos{
            grid-area: dos;
        }
        &__juego--gridTres{
            grid-area: tres;
        }
        &__juego--gridCuatro{
            grid-area: cuatro;
        }
   }
}

