
.section-juegosDos{
    @include size(100%,90vh);
    background-color: #000000;
    &__publicidad{
        @include size(90%,70vh);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        &-juego{
            @include size(30%,60vh);
            display: inline-block;
            background-color: red;
            transform: skewx(-5deg);
            background-image: url(/Infinity-Repo-Lima-Valle/img/portadas/land.jpg);
            background-position: center;
            background-size:cover;
            
        }
        &-juego::before{
            content:"";
            position: absolute;
            @include size(100%,60vh);
            background: linear-gradient(to top,black,transparent);
            opacity: 0.8;
        }
        &-juego--imagenUno{
            background-image: url(/Infinity-Repo-Lima-Valle/img/portadas/halo.jpg);
        }
        &-juego--imagenDos{
            background-image: url(/Infinity-Repo-Lima-Valle/img/portadas/witcher.jpg);
        }
        &-juego--imagenTres{
            display: none;
        }
        &-juego--imagenCuatro{
            display: none;
        }        
    }
    &__texto{
        color:#ffffff;
        text-align:center;
        font-family: 'Oswald', sans-serif;
        &-titulo{
            color:#e8e800;
            font-size: 2rem;            
        }
    }
}