$azul:#0000FF;

@mixin size($ancho,$alto) {
     width:$ancho;
     height:$alto;
}

@mixin medidasIguales($columnas,$filas,$ancho,$alto) {
    display:grid;
    grid-template-columns: repeat($columnas,$ancho) ;
    grid-template-rows: repeat($filas,$alto);
}

@mixin letras($tipo,$tamanio,$color){
    font-family:$tipo;
    font-size:$tamanio;
    color:$color;
}

$colores:(
    azul:blue,
    rojo:red,
    verde:green,
    amarillo:yellow
);

.contenedor-categorias{
     @include medidasIguales(2,2,40%,30vh);
     @include size(100%,70vh);
     gap:10px;
     &__juegos{
        @include size(100%,100%);
        &-imagen{
            @include size(100%,70%);

        }
    }
    @each $colors, $pintura in $colores {
        .contenedor-categorias__juegos--#{$colors}{
             background-color: $pintura;
        }
    }
}

.section-play{
    @include size(90%,250vh);
    margin: 0 auto;
    @include medidasIguales(1,4,100%,60vh);
    grid-row-gap: 10px;
    &__juego{
        @include size(100%,100%);
        background-color: $azul;
        &-imagen{
            @include size(100%,80%);
        }
        &-texto{
            @include size(100%,20%);
        }
    }
}

.contenedor-varios{
    @include size(100%,130vh);
    @include medidasIguales(2,4,45%,30vh);
    justify-content: space-evenly;
    &__juego-link{
        display: block;
        @include size(100%,100%);
        text-decoration: none;
        &-imagen{
            @include size(100%,80%);
            border-radius: 5px;
        }
    }
}

.contenedor-xbox{
    @include size(100%,80vh);
    display: flex;
    flex-flow: column nowrap;
    &__juegos{
        @include size(100%,40vh);
        &-imagen{
            @include size(100%,80%);
        }
    }
}