$verdeBonito:#2EFE64;
$grisBonito:#F2F2F2;

.footer{
    margin-top:50px;
    background-color: $grisBonito;
    width:100%;
    height:120vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr) 5vh;
    align-items: center;
    border-top: solid 4px $verdeBonito;
    &__redes{
        &-titulo{
            text-align:center;
            margin-bottom: 10px;
        }
        &-apps{
            width:100%;
            display:flex;
            flex-flow:row wrap;
            justify-content:space-evenly;
            &-link{
                width:20%;
                text-decoration:none;
                &-imagen{
                    width:100%
                }
            }
        }
    }
    &__nosotros{
        width:100%;
        text-align: center;
        padding: 0px 5px;
    }
    &__contactos{
        width:100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        &-contenedor{
            width:30%;
            &-imagen{
                width:80%;
                height:60%;
                padding-left: 10px;
            }
            &-parrafo{
                padding-left:15px;
            }
        }
    }
    &__mapa{
        width:80%;
        margin: 0 auto;
        .footer__iframe{
            width:100%;
            height:100%;
        }
    }
    &__titulo{
        text-align:center;
    }
}