@mixin size($ancho,$alto){
    width:$ancho;
    height:$alto;
}

$color:(
    verde:#15ff50,
    azul:#0f0fff,
    amarillo:#ffff0f,
    violeta:#ae00ae
);


@mixin grillas($columnas,$filas,$ancho,$alto
){
    display:grid;
    grid-template-columns: repeat($columnas,$ancho);
    grid-template-rows: repeat($filas,$alto);
}

.section{
    @include size(100%,390vh);
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-content: space-around;
    &__contenedor{
        @include size(90%,120vh);
        box-shadow: 0 0 10px;
        &-imagen{
            @include size(100%,85%);
        }
        &-texto{
            text-align: center;
            margin-top: 20px;
            &-link{
                color:#000000;
                display: inline-block;
                margin-top:10px;
                padding: 6px 6px;
                border-radius: 10px;
                background-color:#00dd00;
            }
        }
    }
}

.section-dos{
    @include size(100%,40vh);
    &__titulo{
        text-align: center;
        font-size: 1.5em;
        @include size(100%,30%);
    }
    &__consola{
        display: flex;
        justify-content:space-evenly;
        margin-top: 20px;
        @include size(100%,30%);
        &-link{
            display: inline-block;
            @include size(20%,100%);
            &-imagen{
                @include size(100%,100%);
            }
        }
        &-link:hover{
            background-color: #00dd00;
            padding: 7px 7px;
            border-radius: 20px;
        }
    }
}

.section-tres{
    @include size(100%,70vh);
    &__titulo{
        color:#ffffff;
        font-size:1.7rem;
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        text-align: center;
        color:#ffff0f;
        padding-top: 20px;
    }
    &__collage{
        @include size(100%,40vh);
        background-color:#000000;
        display: flex;
        flex-flow: row wrap;
        margin-top: 50px;
        justify-content:space-evenly;
        &-imagen{
            @include size(32%,100%);
            box-shadow: 0 0 10px;
            color:#ff0000;
            @each $color,$tipo in $color {
                &--#{$color}{
                    color: $tipo;
                }
            }
            &--violeta{
                display: none;
            }
            &--amarillo{
                display: none;
            }
        }
    }
}

.section-cuatro{
    @include size(100%,230vh);
    color: #ffffff;
    background-color: #000000;
    &__lanzamiento{
        margin: 0 auto;
        @include size(95%,150vh);
        @include grillas(2,5,1fr,20vh);
        gap: 5px;
        align-content: space-between;
        &-juego{
            @include size(90%,100%);
            &-imagen{
                @include size(100%,100%);
                border-radius: 10px;
            }
            &-titulo{
                text-align:center;
            }
            &-link{
                text-align:center;
                color:green;
            }
        }
        &-juego:hover{
            transform: scale(1.1,1.1);
        }
    }
}

.section-cinco{
    @include size(100%,270vh);
    @include grillas(1,4,100%,60vh);
    gap:10px;
    align-content:space-between;
    &__juegos{
        @include size(100%,100%);
        &-imagen{
            @include size(100%,100%);
        }
        &-texto{
            @include size(100%,25%);
            position: relative;
            bottom: 50px;
            background-color: red;
            color: white;
            text-align: center;
            &-titulo{
                font-weight:800;
            }
        }
    }
}

.section-seis{
    @include size(100%,170vh);
    @include grillas(2,3,50%,35vh);
    align-content: center;
    gap:5px;
    &__contenedor{
        @include size(100%,100%);
        &-imagen{
            @include size(100%,100%);
        }
    }
}

.footer{
   @include size(100%,190vh);
   display: grid;
   grid-template-columns: 90%;
   grid-template-rows: repeat(5,30vh) 30vh;
   align-content: end;
   justify-content:center;
   color:#ffffff;
   background-color:#000000;
    &__uno{
        @include size(100%,100%);
        &-imagen{
            display: block;
            margin:0 auto;
            @include size(55%,35%);
        }
        &-formas{
            @include size(100%,50%);
            display: flex;
            flex-flow: row nowrap;
            justify-content:space-evenly;
            align-items: center;
            &-pago{
                font-size: 35px;
            }

        }
    }
    &__dos{
        text-align:center;
    }
    &__dos:nth-child(2){
        align-self: center;
    }
    &__tres{
       display: flex;
       flex-flow:column nowrap;
       text-align: center;
       justify-content:space-evenly;
       &-texto{
        &-logo{
            font-size:30px;
        }
       }
    }
    &__cuatro{
        grid-row: 4/6;
        &-mapa{
            @include size(100%,100%);
        }
    }
    &__cinco{
        @include size(100%,100%);
        &-redes{
            margin-top: 20px;
            display: flex;
            flex-flow: row nowrap;
            justify-content:space-evenly;
            &-link{
                font-size:60px;
                color:#ffffff;
            }
            &-link:hover{
                color: #00dd00;
            }
        }
        &-texto{
            margin-top:30px;
            padding-top: 10px;
            text-align:center;
            border-top: solid 1px #ffffff;
        }
    }
}